.forms-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}
.w-100 {
  width: 100%;
}
w-40 {
  width: 40%;
}
button{
    margin: 10px !important;
}
