<!--The content below is only a placeholder and can be replaced.-->


<div *ngIf="isLogged == 'true'">
  <div class="wrapper default-theme" [ngClass]="getClasses()">
    <app-navbar></app-navbar>
    <header id="header" style="background-image: url('./assets/img/1.jpg');">
      <div id="cover">
        <div class="container">
          <img src="../assets/img/logo.png" width="90" height="100">
          <h1>Smart Alert</h1>
          <p>Um sistema de alertas para a sua cidade!</p>
        </div>
      </div>
    </header>
    <main>
      <div class="pages container-fluid pt-4 pb-4 pl-4 pr-4 ">
        <router-outlet></router-outlet>
        <hr>
        <app-footer></app-footer>
      </div>
      <div class="overlay" (click)="toggleSidebar()"></div>
    </main>
  </div>
</div>
<div *ngIf="isLogged === 'false'">
  <div class="forms-container">
    <mat-card class="forms-container w-100">
      <mat-card-title>Faça Login</mat-card-title>
      <form>
        <mat-form-field class="w-100">
          <input matInput placeholder="E-mail" [(ngModel)]="user.email" name="email">
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="Senha" type="password" [(ngModel)]="user.password" name="password">
        </mat-form-field>
      </form>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-description>
              <h5>Registre-se</h5>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="registerForm">
            <mat-form-field class="w-100">
              <input matInput placeholder="Nome" formControlName="name" [(ngModel)]="user.name" name="name">
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email" name="email">
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Data de Nascimento" formControlName="nasc" [(ngModel)]="user.nasc"
                name="nasc" type="date">
            </mat-form-field>
            <mat-form-field class="w-100" autofocus appearance="fill">
              <mat-label>Cidade</mat-label>
              <mat-select formControlName="local">
                <mat-option *ngFor="let city of cities" [value]="city.id" class="z-index-full">
                  {{city.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="E-mail" formControlName="email" [(ngModel)]="user.email" name="email">
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Senha" type="password" formControlName="password" [(ngModel)]="user.password"
                name="password">
            </mat-form-field>
          </form>
          <button mat-raised-button (click)="register()" color="primary">
            Registre-se
          </button>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-raised-button (click)="doLogin()" color="primary">
        Login
      </button>
      <button mat-raised-button>
        Cancelar
      </button>
    </mat-card>
  </div>
</div>